@use '../abstracts' as a;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: a.$bg-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

  .header .sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
  }
  
}

.logo {
  color: a.$text-color;
  font-size: 2.5rem;
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.7rem;
  color:a.$text-color;
  margin-left: 4rem;
  transition: .3s;
}
.navbar a:hover,
.navbar a .active {
  color: a.$main-color;
}

#ham-menu {
   font-size: 3.6rem;
   color: a.$text-color;
   display: none;
}


@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
}