@use '../abstracts' as a;



  @media (max-width: 991px) {
    .portfolio {
      padding-bottom: 7rem;
    }
  
    .portfolio h2 {
      margin-bottom: 3rem;
    }
  
    .portfolio-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .portfolio2 {
      padding-bottom: 7rem;
    }
  
    .portfolio2 h2 {
      margin-bottom: 3rem;
    }
  
    .portfolio-container2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 617px) {
    .portfolio-container,
    .portfolio-container2 {
      grid-template-columns: 1fr;
    }
  }
  /* Case Study Section */
.case-study-content {
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.case-study-content h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.case-study-content p, .project-info p, .project-info2 p {
  font-size: 30px;
  margin-bottom: 1.5rem;
  color: a.$text-color;
  line-height: 1.6;
}

.project-info, .project-info2 {
  margin-bottom: 1.8rem;
}

.portfolio h2{
  font-size: 40px;
}

.project-info h2, .project-info2 h2 {
  color: a.$text-color;
  margin-bottom: 2rem;
}

/* Project Gallery */
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}

.portfolio-image {
  flex: 1 1 calc(33.33% - 40px); 
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  max-width: 100%; 
  height: auto; 
  object-fit: cover; 
}

.portfolio-image:hover {
  transform: scale(1.03); 
}

@media (max-width: 1024px) {
  .portfolio-image {
    flex: 1 1 calc(50% - 40px); 
  }
}

@media (max-width: 768px) {
  .portfolio-image {
    flex: 1 1 100%; 
    max-width: 100%; 
  }
}


.portfolio-image {
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem; 
}