@use '../abstracts' as a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: a.$bg-color;
  color: a.$text-color;
}
section {
  min-height: 40vh;
  padding: 10rem 9% 2rem;
}